{% extends "templates/main.twig" %}
{% block title %} Home Page {% endblock %}

{% block main %}
	<div class="container-narrow">
		<div class="py-2">
			<ol class="breadcrumb">
				<li class="breadcrumb__item">
					<a href="{{ path_for("home") }}">
						<span class="material-icons-round">home</span>
					</a>
				</li>
				<li class="breadcrumb__item">
					Home
				</li>
			</ol>
			<h1>Welcome</h1>
		</div>
	</div>
{% endblock %}


