{% extends "templates/main.twig" %}
{% block title %}
	Admin dashboard - Roles
{% endblock %}

{% block main %}
	<div class="container-narrow">
		<div class="flex j-between i-center py-2">
			<div>
				<ol class="breadcrumb">
					<li class="breadcrumb__item">
						<a href="{{ path_for("home") }}">
							<span class="material-icons-round">home</span>
						</a>
					</li>
					<li class="breadcrumb__item">
						Role Management
					</li>
				</ol>
				<h1>Manage Roles</h1>
			</div>
			<a href="{{ path_for("admin.addRole") }}" class="btn btn-filled btn-secondary">
				<span class="material-icons-round">add</span>
				add new role
			</a>
		</div>
			<table class="table card-muted">
				<thead>
				<tr>
					<th>Role Name</th>
					<th>actions</th>
				</tr>
				</thead>
				<tbody>
				{% for role in roles %}
					<tr>
						<td style="width: 70%">
							<div class="flex gap-1">
								<span class="material-icons-round">group</span>
								{{ role.name }}
							</div>
						</td>
						<td>
							<div class="btn-group">
								<a href="#" class="btn-icon btn-border-primary btn-circle" data-tippy-content="Edit">
									<span class="material-icons-round">edit</span>
								</a>
								<a href="#" class="btn-icon btn-border-primary btn-circle" data-tippy-content="Delete">
									<span class="material-icons-round">delete</span>
								</a>
							</div>
						</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}

