{% extends "templates/main.twig" %}
{% block title %}
	Admin dashboard - Home
{% endblock %}

{% block main %}
	<div class="container-narrow">
		<div class="flex i-center j-between py-2">
			<div>
				<ol class="breadcrumb">
					<li class="breadcrumb__item">
						<a href="#">
							<span class="material-icons-round">home</span>
						</a>
					</li>
					<li class="breadcrumb__item">
						dashboard
					</li>
				</ol>
				<h1>Dashboard</h1>
			</div>
		</div>
		<h3 class="mb-1">Statistics</h3>
		<div class="flex i-center gap-1 mb-1">
			<div class="card card-muted">
				<div class="card__body">
					<div class="flex col i-center j-center py-1">
						<h2>{{ usersCount }}</h2>
						Users
					</div>
				</div>
			</div>
			<div class="card card-muted">
				<div class="card__body">
					<div class="flex col i-center j-center py-1">
						<h2>{{ courseCount }}</h2>
						Course
					</div>
				</div>
			</div>
			<div class="card card-muted">
				<div class="card__body">
					<div class="flex col i-center j-center py-1">
						<h2>{{ facultiesCount }}</h2>
						Faculty
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
