{% extends "templates/main.twig" %}
{% block title %}
	Admin dashboard - Home
{% endblock %}

{% block main %}
	<div class="container">
		<h1>Welcome {{ auth.user.username }}</h1>
		<p>Admin Dashboard</p>
	</div>
{% endblock %}
