<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
				content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Registration page</title>
	<style>
      form {
          width: 100%;
          max-width: 600px;
          margin: 0 auto;
          padding: 1rem;
      }
      label {
          display: block;
      }
			.error {
					border: thin solid red;
					padding: 1rem;
			}
	</style>
</head>
<body>
	<h1>Registration page</h1>
	{% if flash("error") %}
		<div class="error">
			{{ flash("error") | first }}
		</div>
	{% endif %}
	<form action="{{ path_for("auth.register") }}" method="POST">
		<label>
			username
			<input type="text" name="username" required>
		</label>
		<label>
			password
			<input type="password" name="password" required>
		</label>
		<button type="submit">register</button>
	</form>
	<hr>
	<a href="{{ path_for("auth.login") }}">login now</a>
</body>
</html>