{% extends "templates/main.twig" %}
{% block title %}
	Admin Dashboard - Add new user
{% endblock %}
{% block main %}
	<div class="container">
		<div class="py-1">
			<div class="mb-1">
				<h4 class="section__title">Create new user</h4>
				<p class="section__sub">Please fill there information</p>
			</div>
			<div class="border py-2 px-2" style="background-color: white">

				<form action="{{ path_for("admin.addUser") }}" method="post">
					<div class="w-3">
{# <h5 style="color: var(--orange)">Personal Information</h5> #}
						{# <div class="flex gap-1"> #}
						{# <div class="field field-small"> #}
						{# <label class="label" for="username">first name</label> #}
						{# <input class="field__input" type="text" name="username" id="username"> #}
						{# </div> #}
						{# <div class="field field-small"> #}
						{# <label class="label" for="password">last name</label> #}
						{# <input class="field__input" type="password" name="password" id="password"> #}
						{# </div> #}
						{# </div>#}
						<h5>Account information</h5>
						<div class="flex gap-1">
							<div class="field field-small">
								<label class="label" for="username">Username *</label>
								<input class="field__input" type="text" name="username" id="username" required>
							</div>
							<div class="field field-small">
								<label class="label" for="password">Password *</label>
								<input class="field__input" type="password" name="password" id="password" required>
							</div>
						</div>
						<div class="field field-small">
							<label class="label" for="role">Type</label>
							<select class="field__input" name="role" id="role" required>
								{% for role in roles %}
									<option value="{{ role.id }}">{{ role.name }}</option>
								{% endfor %}
							</select>
						</div>
						<button class="btn btn-small btn-primary">
							create
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}

