{% extends "templates/main.twig" %}
{% block title %}
	Admin Dashboard - Document Management
{% endblock %}
{% block main %}
	<div class="container">
		<h2>Content Management</h2>
	</div>
{% endblock %}


