<!doctype html>
<html lang="{{ current_lang() }}">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
				content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	{# adobe fonts (Noto sans + Noto sans arabic) #}
	<link rel="stylesheet" href="https://use.typekit.net/xyn6stz.css" />

	{# google icons #}
	<link
		href="https://fonts.googleapis.com/css?family=Material+Icons+Round"
		rel="stylesheet"
	/>

	{# main css #}
	{% block css %}
		<link rel="stylesheet" href="/css/main.css">
	{% endblock %}

	{# page title #}
	<title>
		{% block title %}OBADLIL{% endblock %}
	</title>

</head>
<body>

{# main content #}
{% block body %}{% endblock %}

{# javascript files #}
<script src="/js/main.bundle.js"></script>

{# flash messages #}

{% if flash("success") %}
	<script>
		new toast("{{ flash("success") | first }}", "success").show();
	</script>
{% endif %}
{% if flash("error") %}
	<script>
		new toast("{{ flash("error") | first }}", "error").show();
	</script>
{% endif %}

{% block js %}
{% endblock %}
</body>
</html>