<header class="header">
	<div class="logo">
		<button class="btn btn-secondary nav-toggler">
			<span class="material-icons-round"> menu </span>
		</button>
	</div>
	<div class="header__wrapper">
		<div class="header__item">
			<button
				class="btn btn-small btn-outline modal-toggle"
				data-model-id="language_model">
				<span class="material-icons-round"> language </span>
				language
			</button>
		</div>
		<div class="header__item">
			<form action="#">
				<div class="field-search">
					<input
						class="field__input"
						type="search"
						name="q"
						placeholder="search..."
					/>
				</div>
			</form>
		</div>
		<div class="header__separator"></div>
		<div class="header__item">
			<div class="dropdown">
				<button class="dropdown__toggle">
					<img
						class="profile-image"
						src="https://randomuser.me/api/portraits/men/61.jpg"
						alt="user profile"
					/>
				</button>
				<div class="dropdown__content dropdown__content-end">
					<div class="header__profile">
						<img
							class="header__profile-image"
							src="https://randomuser.me/api/portraits/men/61.jpg"
							alt=""
						/>
						<div class="header__profile-text">
							<h4> {{ auth.user.username }} </h4>
							<p class="pill">
								{{ auth.user.role.name }}
							</p>
						</div>
					</div>
					<div class="dropdown__sep"></div>
					<ul class="header__profile-links">
						<li>
							<a class="dropdown__item" href="{{ path_for("user.settings") }}">
								Settings
							</a>
						</li>
						<li>
							<a class="dropdown__item" href="{{ path_for("auth.logout") }}">
								Logout
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</header>