<ul>
	{% for available_language in available_langs() %}
		{% if available_language != current_lang() %}
			<li>
				<a href=" {{ path_for("language.switch", { 'lang': available_language }, {'r': current_path() }) }} "> {{ available_language }} </a>
			</li>
		{% endif %}
	{% endfor %}
</ul>