<nav class="sidenav">
	<div class="nav-wrapper">
		{# <div class="nav__title">Main Menu</div> #}
		<ul class="nav-simple">
			<li class="nav-simple__item has-dropdown">
				<a href="#">
					<span class="material-icons-round nav-simple__icon"> home </span>
					<span class="nav-simple__text"> Dashboard </span>
				</a>
				<ul class="nav-simple__sublist">
					<li class="nav-simple__subitem">
						<a href="#">
							<span class="nav-simple__text">statistique</span>
						</a>
					</li>
					<li class="nav-simple__subitem">
						<a href="#">
							<span class="nav-simple__text">others</span>
						</a>
					</li>
				</ul>
			</li>
			<li class="nav-simple__item">
				<a href="#">
					<span class="material-icons-round"> check </span>
					<span class="nav-simple__text"> TD et excersice </span>
				</a>
			</li>
		</ul>
	</div>
</nav>